h1, h2, h3, p, h4, Tr, td, th  {
color:white;
}

.hz { 
    text-align: right;
    width:30%;
    background-color:rgb(128, 187, 164);
    margin-left:60%;
    margin-right:40%;
    padding:30px;
    margin: bottom 50%;
    margin: top 40px;
    border-style:solid

}

.ict {

    text-align: right;
    width:30%;
    background-color:rgb(128, 187, 164);
    margin-left:200px;
    margin-right:auto;
    padding:30px;
    margin: bottom 80%;
    margin: top 70%;
    border-style:solid
}


a {
    color:white;
}


.item p{ 
    display:inline-block;
    width:50%;
}

.goed {
    text-align:left;

}

.slecht {
    text-align:right;
    width:50%;
}

.eerstefeedback {

    text-align: right;
    width: 110px;
    background-color:rgb(128, 187, 164);
    margin-left:20px;
    margin-right:80px;
    padding: 25px;
    margin: bottom 5px;
    margin: top 5px;
    border-style:solid
}

.programmeerervaring {

    text-align: right;
    width: 100px;
    height: 100px;
    background-color:rgb(128, 187, 164);
    margin-left:20px;
    margin-right:80px;
    padding: 50px;
    margin: bottom -100px;
    margin: top -100px;
    border-style:solid
}

.nav {

position:fixed;
background-color:rgb(128, 187, 164);
}


.faq {
    margin: bottom 20px;
    margin: top 10px;
}

.zijkant {
background-color: rgb(128, 187, 164);
width: 200px;
margin-right:95%;
position: relative; left: -250px;
height: 1000px;

}
